.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 200px;
    z-index: 1000;
    transition: height 0.5s ease, background-color 1s ease;
    background-color: rgba(167, 46, 78, 0.1);
    border: 2px solid green;
}

.navbar.small {  
    width: 100vw;
    height: 40px;
    background-color: rgba(167, 46, 78);
}

.navbar-icon {
    display: grid;
    place-items: center;
    width: 200px;
    height: 150px;
    margin-left: 25px;
    transition: height 0.5s ease, width 0.5s ease;

    border: 1px solid red;
}

.navbar-icon.small {
    width: 100px;
    height: 35px;
}

.navbar-links {
    width: 100px;
    height: 150px;
    margin-right: 25px;
    transition: height 0.5s ease;
    list-style: none;

    border: 1px solid red;
}

.navbar-links.small {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100px;
    height: 35px;
}

.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1001;
}

.cart-blur {
    width: 50%;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
}

.cart-content {
    width: 50%;
    min-width: 550px;
    height: 100%;
    background-color: green;
}

.item {
    width: 200px;
    height: 200px;
    border: 1px solid green;
}