.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 200px;
    z-index: 1000;
    transition: height 0.5s ease, background-color 0.8s ease;
}

.navbar.thin {  
    width: 100vw;
    height: 50px;
    background-color: var(--main-color);
}

.navbar-logo {
    display: grid;
    place-items: center;
    width: 240px;
    height: 180px;
    transition: height 0.5s ease, width 0.5s ease;
    background-image: url('../assets/logo.png');
    background-position: center;
    background-size: cover;
}

.navbar-logo.thin {
    width: 160px;
    height: 40px;
    background-position: center 25%;
}

.navbar-links-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    width: 150px;
    height: 150px;
    margin-right: 50px;
    padding: 0;
    cursor: pointer;
    transition: height 0.5s ease, width 0.5s ease;
}

.navbar-links-container.thin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 220px;
    height: 35px;
}

.navbar-link-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    color: white;
}

.navbar-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: white;
    list-style: none;
    text-decoration: none;
}

.navbar-link p {
    font-size: 1rem;
    margin: 0;
    padding-right: 15px;
}

.navbar-icon {
    width: 16px;
    height: 16px;
}

@media (max-width: 1200px) {
    
}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
    .navbar.thin {
        height: 40px;
    }
    .navbar-logo.thin {
        height: 35px;
    }
    .navbar-links-container.thin {
        width: 180px;
        margin-right: 25px;
    }
    .navbar-link p {
        font-size: 0.75rem;
        padding-right: 15px;
    }
    .navbar-icon {
        width: 12px;
        height: 12px;
    }
}

@media (max-width: 480px) {
    .navbar-links-container.thin {
        width: 60px;
    }
    .navbar-link p {
        display: none;
    }
}

@media (max-width: 320px) {
    .navbar-logo.thin {
        width: 120px;
    }
    .navbar-links-container.thin {
        width: 50px;
    }
}

/*
 * Cart
 */
.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 2000;
    overflow: hidden;
}

.cart-blur {
    width: 60%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
}

.cart-blur:hover {
    cursor: pointer;
}

.cart-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    min-width: 650px;
    height: 100%;
    background-color: var(--main-color);
}

.cart-return-link {
    width: 600px;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    border-bottom: 2px solid white;
    cursor: pointer;
    transition: color 0.5s ease, border-bottom 0.5s ease;
}

.cart-return-link:hover {
    color: rgb(255, 255, 255, 0.2);
    border-bottom: 2px solid rgb(255, 255, 255, 0.4);
}

.cart-item-container {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 650px;
    height: 550px;
    margin-bottom: 25px;
    overflow: hidden;
    overflow-y: auto;
}

.cart-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 150px;
    margin: 5px;
    background-color: rgb(85, 0, 0);
    box-shadow: 0 2px 2px 0 var(--shadow-color);
}

.cart-item-image-container {
    width: 20%;
    height: 100%;
    border-radius: 4px;
}

.cart-item-image {
    width: 100%;
    height: 100%;
}

.cart-item-details-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100%;
    padding: 0 10px 0 10px;
    overflow: hidden;
}

.cart-item-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.cart-item-name {
    font-size: 1rem;
    color: white;
}

.cart-remove-item {
    width: 30px;
    height: 30px;
    color: white;
    background-color: var(--button-color);
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.cart-item-size {
    text-align: left;
    font-size: 1rem;
    font-family: none;
    font-style: italic;
    color: var(--light-font);
    width: 100%;
    margin: 0;
}

.cart-item-qty {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.75rem;
    font-family: none;
    color: white;
}

.cart-item-qty-number {
    font-size: 1rem;
}

.cart-item-qty-btn {
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    margin: 10px;
    cursor: pointer;
    color: var(--button-color);
}

.cart-item-price {
    color: white;
}

.empty-cart {
    font-size: 1.5rem;
    font-family: none;
    font-style: italic;
    color: white;
}

.cart-checkout {
    display: grid;
    place-items: center;
    width: 250px;
    height: 50px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--main-color);
    background-color: white;
    border-radius: 32px;
    box-shadow: 0 2px 2px 0 var(--shadow-color);
}

@media (max-width: 1200px) {
    .cart-return-link {
        width: 500px;
    }
    .cart-item {
        width: 500px;
        height: 125px;
    }
}

@media (max-width: 992px) {
    .cart-item {
        width: 500px;
    }
}

@media (max-width: 768px) {
    .cart-checkout {
        width: 200px;
        height: 40px;
    }
}

@media (max-width: 480px) {
    .cart-content-container {
        min-width: 440px;
    }
    .cart-return-link {
        width: 350px;
    }
    .cart-item {
        width: 350px;
        height: 100%;
    }
    .cart-item-image-container {
        width: 40%;
    }
    .empty-cart {
        font-size: 1rem;
    }
    .cart-checkout {
        width: 180px;
    }
}

@media (max-width: 320px) {
    .cart-return-link {
        width: 320px;
    }
    .cart-item {
        width: 320px;
    }
    .cart-item-image-container {
        width: 50%;
    }
    .empty-cart {
        font-size: 1rem;
    }
    .cart-checkout {
        width: 160px;
        height: 40px;
    }
}

/*
 * Item
 */
.item-container {
    width: 400px;
    height: 550px;
    margin: 5px;
    text-decoration: none;
}

.item-image-container {
    width: 100%;
    height: 85%;
    overflow: hidden;
}

.item-image {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
}

.item-image:hover {
    transform: scale(1.05);
}

.item-info-container {
    box-sizing: border-box;
    display: grid;
    place-items: center;
    width: 100%;
    height: 15%;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--main-color);
    background-color: white;
}

.item-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.item-name p {
    margin: 0;
}

.item-color {
    width: 100%;
    margin: 0;
    font-size: 0.75rem;
    font-weight: lighter;
    font-style: italic;
    color: var(--main-color);
}

/*
 * Item page
 */
.item-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: white;
}

.item-page-container {
    display: grid;
    place-items: center;
    width: 50%;
    height: 100%;
    background-color: var(--main-color);
}

.item-page-container.right {
    position: sticky;
    top: 0;
    left: 0;
}

.item-page-main-image-container {
    width: 100%;
    height: 100%;
}

.item-page-main-image {
    width: 100%;
    height: 100%;
}

.item-page-other-images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.item-page-other-image {
    box-sizing: border-box;
    width: 50%;
    height: 50%;
}

.item-page-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 80%;
}

.item-page-back {
    box-sizing: border-box;
    width: 80%;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
    transition: color 0.5s ease;
}

.item-page-back:hover {
    color: rgb(255, 255, 255, 0.3);
}

.item-page-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 80%;
    height: 70%;
    border-top: 1px solid white;
}

.item-page-name {
    height: 20%;
    margin: 0;
    font-size: 2rem;
    text-align: center;
    text-decoration: underline;
    color: white;
}

.item-page-price {
    height: 10%;
    margin: 0;
    font-size: 1rem;
    color: white;
}

.item-page-price span {
    font-style: italic;
}

.item-page-description {
    height: 25%;
    margin: 0;
    font-size: 1.5rem;
    font-family: none;
    font-style: italic;
    color: white;
}

.item-page-sizes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    margin: 0;
    font-size: 1rem;
    color: white;
}

.size-button {
    width: 150px;
    height: 50px;
    font-size: 0.75rem;
    font-weight: bold;
    cursor: pointer;
    color: white;
    border: 1px solid white;
    background-color: var(--main-color);
    transition: background-color 0.5s ease, border-radius 0.5s ease;
}

.size-button:hover {
    border-radius: 4px;
    background-color: white;
    color: var(--main-color)
}

.size-button.selected {
    border-radius: 8px;
    background-color: white;
    color: var(--main-color)
}

.item-page-add {
    box-sizing: border-box;
    width: 100%;
    height: 75px;
    font-size: 1rem;
    font-family: "Cinzel Decorative", serif;
    font-weight: bold;
    cursor: pointer;
    color: white;
    border: 1px solid white;
    background-color: var(--main-color);
    transition: background-color 0.5s ease, border-radius 0.5s;
}

.item-page-add:hover {
    color: var(--main-color);
    background-color: white;
    border-radius: 6px;
}

