.admin-page {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-color);
}

.admin-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 20%;
    color: white;
}

.admin-form * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    font-size: 1rem;
    margin-bottom: 10px;
    width: 100%;
}

.description-input {
    height: 75px;
}

.account-page {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
}

.checkout-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-color);
}

.checkout-delivery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;
}

.return-from-checkout {
    width: 500px;
    background-color: white;
    border: 1px solid blue;
}

.delivery-info {
    width: 500px;
    height: 650px;
    background-color: white;
}

.checkout-items-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;
}

.checkout-items {
    width: 600px;
    max-height: 400px;
    overflow-y: scroll;
}

.checkout-items::-webkit-scrollbar {
    display: none;
}

.checkout-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99%;
    height: 100px;
    margin-bottom: 10px;
    color: white;
    border: 1px solid white;
}

.checkout-item-image-container {
    width: 30%;
    height: 100%;
    background-color: white;
}

.checkout-item-image{
    width: 100%;
    height: 100%;
    
}

.checkout-item-name {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    padding: 5px;
}

.checkout-item-name * {
    margin: 0;
}

.checkout-item-remove {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    width: 20%;
    height: 100%;
    padding: 5px;
}

.checkout-item-remove * {
    margin: 0;
}

.checkout-total {
    box-sizing: border-box;
    width: 600px;
    height: 100px;
    padding: 0 10px 0 10px;
    margin-top: 10px;
    color: white;
    border: 1px solid white;
}

.checkout-total-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}