.admin-page {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-color);
}

.admin-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 20%;
    color: white;
}

.admin-form * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    font-size: 1rem;
    margin-bottom: 10px;
    width: 100%;
}

.admin-input-file-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.admin-input-file-images p {
    margin:0;
    margin-right: 10px;
}

.admin-description-input {
    height: 75px;
}

/*
* User page
*/
.user-page {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-color);
}

.user-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: none;
    color: white;
}

.user-details-container p {
    font-size: 1.5rem;
    margin: 0;
    margin-right: 20px;
    color: white;
}

.user-details-container button {
    width: 120px;
    height: 40px;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Cinzel Decorative", serif;
    color: white;
    background-color: var(--main-color);
    border: 2px solid white;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.user-details-container button:hover {
    cursor: pointer;
    color: var(--main-color);
    background-color: white;
}

/*
* login page
*/
.login-and-signup-page {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-color);
}

.login-and-signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    color: white;
}

.login-and-signup-form-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
    margin-bottom: 40px;
}

.login-and-signup-form-links * {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    margin: 0;
    color: white;
}

.login-and-signup-form-links p {
    text-decoration: underline;
}

.login-and-signup-form label {
    width: 400px;
    font-size: 1rem;
}

.login-and-signup-form input {
    width: 400px;
    height: 24px;
    font-size: 1rem;
    margin-bottom: 30px;
    color: white;
    background-color: var(--main-color);
    border: none;
    border-bottom: 1px solid white;
}

.login-and-signup-form input:focus {
    outline: none;
}

.login-and-signup-form button {
    width: 250px;
    height: 50px;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Cinzel Decorative", serif;
    color: white;
    background-color: var(--main-color);
    border: 2px solid white;
    border-radius: 24px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.login-and-signup-form button:hover {
    cursor: pointer;
    color: var(--main-color);
    background-color: white;
}

.login-and-signup-page-error {
    text-align: center;
    font-size: 1.25rem;
    font-family: none;
    background-color: var(--button-color);
    padding: 5px 15px 5px 15px;
}

/*
* Checkout page
*/
.checkout-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: var(--main-color);
}

.checkout-delivery-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
}

.checkout-return {
    width: 500px;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
}

.delivery-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 500px;
}

.delivery-form-country {
    width: 100%;
    height: 50px;
    margin-bottom: 40px;
}

.delivery-form-inputs-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
}

.delivery-form-input {
    width: 100%;
    height: 50px;
    padding: 0;
    margin-bottom: 40px;
}

.delivery-form-btn {
    display: grid;
    place-items: center;
    width: 50%;
    height: 50px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.delivery-form-btn:hover {
    color: var(--main-color);
    background-color: white;
}

.checkout-items-container {
    width: 600px;
    height: 500px;
    order: 1;
}

.checkout-items {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 100%;
    height: 400px;
    overflow: hidden;
    overflow-y: auto;
}

.checkout-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 150px;
    margin-bottom: 10px;
    color: var(--main-color);
    box-shadow: 0 2px 2px 0 var(--shadow-color);
}

.checkout-item-image-container {
    width: 20%;
    height: 100%;
}

.checkout-item-image{
    width: 100%;
    height: 100%;
}

.checkout-item-details-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 100%;
    padding: 10px;
    background-color: rgb(85, 0, 0);
}

.checkout-item-details-container * {
    margin: 0;
    color: white;
    font-weight: bold;
}

.checkout-item-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkout-item-name {
    font-size: 1.25rem;
    text-decoration: underline;
}

.checkout-item-remove-btn {
    width: 25px;
    height: 25px;
    padding: 0;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    color: white;
    background-color: var(--button-color);
}

.checkout-item-details-size {
    font-family: none;
    font-size: 1rem;
    font-style: italic;
    color: var(--light-font)
}

.checkout-item-details-qty {
    font-size: 1rem;
    font-family: none;
    font-weight: lighter;
}

.checkout-item-price {
    font-size: 1rem;
    font-family: none;
}

.empty-checkout-cart {
    font-size: 1.5rem;
    font-family: none;
    font-style: italic;
    color: white;
}

.checkout-total {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 600px;
    height: 75px;
    margin-top: 20px;
    color: white;
}

.checkout-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid white;
}

.checkout-price * {
    margin: 0;
    padding: 0;
}

.checkout-total-price {
    font-family: none;
}

@media (max-width: 1200px) {
    .checkout-delivery-container {
        width: 400px;
    }
    .checkout-return {
        width: 400px;
    }
    .delivery-form {
        width: 400px;
        height: 400px;
    }
    .checkout-items-container {
        width: 500px;
    }
    .checkout-item {
        height: 125px;
    }
    .checkout-total {
        width: 500px;
    }
}

@media (max-width: 992px) {
    .checkout-delivery-container {
        width: 350px;
    }
    .checkout-return {
        width: 350px;
        font-size: 0.75rem;
    }
    .delivery-form {
        width: 350px;
    }
    .delivery-form-btn {
        width: 50%;
        height: 40px;
        font-size: 0.75rem;
    }
    .checkout-items-container {
        width: 400px;
    }
    .checkout-item {
        height: 100px;
    }
    .checkout-item-name {
        font-size: 1rem;
    }
    .checkout-total {
        width: 400px;
    }
}

@media (max-width: 768px) {
    .checkout-delivery-container {
        width: 500px;
        margin-top: 50px;
    }
    .checkout-return {
        width: 500px;
        font-size: 1rem;
    }
    .delivery-form {
        width: 500px;
    }
    .delivery-form-btn {
        width: 40%;
        height: 40px;
    }
    .checkout-items-container {
        width: 500px;
    }
    .checkout-item-name {
        font-size: 1rem;
    }
    .checkout-total {
        width: 500px;
    }
}

@media (max-width: 480px) {
    .checkout-delivery-container {
        width: 350px;
    }
    .checkout-return {
        width: 350px;
        font-size: 0.75rem;
    }
    .delivery-form {
        width: 350px;
        
    }
    .delivery-form-btn {
        width: 50%;
        height: 40px;
    }
    .checkout-items-container {
        width: 350px;
        height: 400px;
    }
    .checkout-items {
        height: 300px;
    }
    .checkout-item {
        height: 100px;
    }
    .checkout-item-details * {
        font-size: 0.75rem;
    }
    .checkout-item-name {
        font-size: 0.75rem;
    }
    .checkout-total {
        width: 350px;
        font-size: 0.75rem;
    }
}

@media (max-width: 320px) {
    .checkout-items-container {
        width: 100%;
    }
    .checkout-total {
        width: 100%;
    }
    .checkout-delivery-container {
        width: 100%;
    }
    .checkout-return {
        width: 100%;
    }
    .delivery-form {
        width: 100%;
    }
    .delivery-form-btn {
        width: 50%;
    }
}