.home-page {
    background-color: bisque;
    overflow-x: hidden;
}

.intro-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100vw;
    height: 100vh;
    
    border: 2px solid red;
}

.intro-content {
    align-self: flex-start;
    width: 700px;
    height: 250px;
    margin: 50px;

    border: 1px solid red;
}

.intro-content * {
    height: 30%;
    margin: 0;

    border: 1px solid red;
}

.intro-content h2 {
    font-size: 3rem;
}

.intro-content h3 {
    font-size: 2rem;
}

.intro-content div {
    width: 100%;
}

.intro-content div button {
    width: 40%;
    height: 100%;
}

.category-section {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;

    border: 2px solid red;
}

.category-content {
    width: 80%;
    height: 80%;

    border: 1px solid green;
}

.category-content h1 {
    font-size: 2rem;
    height: 10%;
    margin: 0 0 0 10px;
}

.category-panels {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90%;
    width: 100%;
}

.category-panels * {
    width: 30%;
    min-width: 300px;
    height: 100%;
    margin: 10px;
    border-radius: 8px;
    background-color: lightcoral;
}


.footer-links {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 150px;
}