.home-page {
    background-color: var(--main-color);
    overflow-x: hidden;
}

.intro-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/suits-banner.png');
    background-size: cover;
    background-position: center;
}

.intro-content {
    width: 600px;
    height: 300px;
    margin: 50px;
    color: rgb(255, 255, 255);
}

.intro-content * {
    height: 30%;
    margin: 0;
}

.intro-content h2 {
    font-size: 2.5rem;
}

.intro-content h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.intro-content div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.intro-button {
    box-sizing: border-box;
    display: grid;
    place-items: center;
    width: 250px;
    height: 75px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    color: white;
    border: 3px solid white;
    transition: background-color 0.5s ease;
}

.intro-button:hover {
    border: none;
    background-color: var(--main-color);
}

.about-section {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    color: white;
    background-color: var(--main-color);
}

.about-section p {
    display: grid;
    place-items: center;
    width: 60%;
    height: 50%;
    font-family: none;
    font-size: 2rem;
    font-style: italic;
    text-align: center;
}

.products-section {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

.products-headline {
    text-align: center;
    margin: 0;
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
}

.products-panels {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.panel {
    position: relative;
    width: 350px;
    height: 500px;
    margin: 10px;
    background-color: var(--main-color);
    box-shadow: 0 4px 4px 0 var(--shadow-color);
    transition: transform 0.3s;
}

.panel:hover {
    transform: scale(1.02);
}

.panel p {
    font-size: 1.5rem;
    position: absolute;
    bottom: 10px;
    left: 40px;
    color: white;
}

.cat-panel {
    background-image: url('../../assets/cat-panel.png');
    background-position: center 30%;
    background-size: 100% auto;
}

.dog-panel {
    background-image: url('../../assets/dog-panel.png');
    background-position: center 20%;
    background-size: 100% auto;
}

.accessories-panel {
    background-image: url('../../assets/accessories-panel.png');
    background-position: center 75%;
    background-size: 100% auto;
}

@media (max-width: 1200px) {
    .intro-content {
        width: 550px;
        height: 250px;
    }
    .intro-button {
        width: 225px;
    }
    .panel {
        width: 300px;
        height: 450px;
    }
}

@media (max-width: 992px) {
    .intro-section {
        background-position: 70%;
    }
    .intro-content {
        width: 500px;
        height: 225px;
    }
    .intro-button {
        width: 200px;
        height: 50px;
        font-size: 0.75rem;
    }
    .about-section p {
        font-size: 1.5rem;
    }
    .panel {
        width: 250px;
        height: 400px;
    }
    .panel p {
        font-size: 1.25rem;
    }
}

@media (max-width: 768px) {
    .intro-content {
        width: 450px;
        height: 200px;
    }
    .intro-content h2 {
        font-size: 2rem;
    }
    .intro-content h3 {
        font-size: 1.25rem;
    }
    .intro-button {
        font-size: 0.75rem;
        width: 175px;
    }
    .panel {
        width: 350px;
        height: 500px;
    }
}

@media (max-width: 480px) {
    .intro-section {
        background-position: 80%;
    }
    .intro-content {
        width: 420px;
    }
    .intro-content h2 {
        font-size: 1.75rem;
    }
    .about-section p {
        font-size: 1rem;
    }
    .products-headline {
        font-size: 1rem;
    }
    .panel {
        width: 400px;
        height: 500px;
    }
}

@media (max-width: 320px) {
    .intro-section {
        background-position: 75%;
    }
    .intro-content {
        width: 250px;
        height: 150px;
    }
    .intro-content h2 {
        font-size: 1.25rem;
    }
    .intro-content h3 {
        font-size: .75rem;
    }
    .intro-button {
        width: 100px;
        height: 40px;
        font-size: 0.5rem;
    }
    .panel {
        width: 300px;
        height: 400px;
    }
}