.products-page {
    overflow-x: hidden;
    background-color: var(--main-color);
}

.products-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 40vh;
    color: white;
}

.accessory-products-banner {
    background-image: url('../../assets/accessory-shop-banner.png');
    background-size: cover;
    background-position: center;
}

.all-products-banner {
    background-image: url('../../assets/shop-all-banner.png');
    background-size: cover;
    background-position: center;
}

.cat-products-banner {
    background-image: url('../../assets/cat-shop-banner.png');
    background-size: cover;
    background-position: center;
}

.dog-products-banner {
    background-image: url('../../assets/dog-shop-banner.png');
    background-size: cover;
    background-position: center;
}

.products-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.filter-products {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 75%;
    height: 60px;
    font-size: 1rem;
    list-style: none;
    color: white;
    background-color: var(--main-color);
    border: 1px solid white;
    box-shadow: 0 4px 4px 0 var(--shadow-color);
}

.products-link {
    box-sizing: border-box;
    margin-left: 20px;
    padding: 8px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
    transition: color 0.5s ease, border-bottom 0.5s ease;
}

.products-link:hover {
    color: rgb(255, 255, 255, 0.2);
    border-bottom: 1px solid rgb(255, 255, 255, 0.4);
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 75%;
    overflow: hidden;
}

.product-container:hover {
    overflow-y: scroll;
}