.products-page {
    overflow-x: hidden;
    background-color: beige;
}

.products-header {
    width: 100vw;
    height: 400px;

    border: 1px solid red;
}

.products-header h2 {
    text-align: center;
}

.products-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    border: 1px solid red;
}

.filter-products {
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 75%;
    height: 60px;
    font-size: 1rem;
    list-style: none;
    background-color: var(--main-color);
    color: white;
    border-radius: 32px;
}

.products-link {
    margin-left: 20px;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    border: none;
    border-bottom: 2px solid white;
}

.products-link:hover {
    padding: 5px;
    border: 2px solid white;
    border-radius: 8px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 75%;
    overflow: hidden;
}

.product-container:hover {
    overflow-y: scroll;
}