.products-page {
    overflow-x: hidden;
    background-color: var(--main-color);
}

.products-header {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 100vw;
    height: 40vh;
    font-size: 2rem;
    text-decoration: underline;
    color: white;
}

.accessory-products-banner {
    background-image: url('../../assets/accessory-shop-banner.png');
    background-size: cover;
    background-position: center;
}

.all-products-banner {
    background-image: url('../../assets/shop-all-banner.png');
    background-size: cover;
    background-position: center;
}

.cat-products-banner {
    background-image: url('../../assets/cat-shop-banner.png');
    background-size: cover;
    background-position: center;
}

.dog-products-banner {
    background-image: url('../../assets/dog-shop-banner.png');
    background-size: cover;
    background-position: center;
}

.products-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.filter-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    width: 70%;
    height: 50px;
    font-size: 1rem;
    list-style: none;
    color: white;
    background-color: var(--main-color);
    border: 1px solid white;
    box-shadow: 0 4px 4px 0 var(--shadow-color);
}

.products-link {
    box-sizing: border-box;
    margin-left: 20px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
    transition: color 0.5s ease, border-bottom 0.5s ease;
}

.products-link:hover {
    color: rgb(255, 255, 255, 0.2);
    border-bottom: 1px solid rgb(255, 255, 255, 0.4);
}

.product-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 70%;
    overflow: hidden;
    overflow-y: auto;
}

@media (max-width: 1200px) {
    .products-header p {
        margin-top: 40px;
        font-size: 1.75rem;
    }
    .filter-products {
        width: 800px;
    }
}

@media (max-width: 992px) {
    .products-header p {
        margin-top: 80px;
    }
    .filter-products {
        width: 600px;
    }
    .filter-products * {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .products-header p {
        font-size: 1.5rem;
    }
    .filter-products {
        width: 500px;
    }
    .filter-products * {
        font-size: 0.75rem;
    }
}

@media (max-width: 480px) {
    .products-header p {
        font-size: 1.25rem;
    }
    .filter-products {
        width: 100%;
    }
    .filter-products p {
        font-size: 0.5rem;
    }
}

@media (max-width: 320px) {
    .products-header p {
        font-size: 1rem;
    }
    .filter-products {
        height: 70px;
    }
}